body{
    font-family: sans-serif;
}
h1{
    text-align: center;
}
a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: blue;
    font-size: 20px;
}
a:hover , a:focus{
    color: tomato;
    text-decoration: underline;
    transition: all 2s cubic-bezier(.17,.67,.14,.8);
}